body {
	margin: 0;
	padding: 0;
	background-color: #f2f2f2;
}

.container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	max-width: 800px;
	margin: 0 auto;
}

.quadrant-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	grid-gap: 20px;
}

.quadrant {
	border: 1px solid black;
	padding: 10px;
}

.quadrant video,
.quadrant audio,
.quadrant img {
	max-width: 100%;
	height: auto;
}

.button {
	flex-basis: 100%;
	text-align: center;
	margin-top: 20px;
}

button:hover {
	background-color: #0062cc;
}
